@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --primary-red: #FF0040;
  --primary-blue: #0080FF;
  --primary-yellow: #FFD700;
  --primary-green: #00FF41;

  --text-dark: #b9b1b1;
  --text-light: #ffffff;
  --background: #1a1a1a;
  --border: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-dark);
}

.App {
  min-height: 100vh;
}